nav >ul > li{
    display: inline;
    padding-right: 15px;
}
nav > ul > li >a{
    text-decoration: none;
}
/*  */


}
/* article{
    width: 20%;
    height: 500pxpx;
} */
form > label{
    display: block;
    padding-bottom: 20px;
    mar
}